<div>
    <form class="container" (ngSubmit)="onSubmit()">
        <input id="firstNameInput" name="firstName" [(ngModel)]="firstname" class="form-control m-3" type="text" placeholder="First Name........" />
        <input id="lastNameInput" name="lastName" [(ngModel)]="lastname"class="form-control m-3" type="text" placeholder="Last Name........" />
        <input id="emailInput" name="email" [(ngModel)]="email" class="form-control m-3" type="email" placeholder="Email........"  />
        <input id="submitBtn" class="btn btn-primary m-3" type="submit" value="Add" />
    </form>
</div>