<app-header [navigationButtoName]="navigationButtoName"></app-header>

<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of items">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ item.product_name }}</h5>
            <p class="card-text">{{ item.product_description }}</p>
            <div class="row">
              <p class="card-text col-md-4">
                Price: {{ item.price | currency : "INR" }}
              </p>
              <p class="card-text col-md-4"></p>
              <p class="card-text col-md-4">
                Discount: {{ item.discount_percentage }}%
              </p>
            </div>
            <div
              (click)="addProductToCart(item.product_id)"
              class="btn btn-info"
            >
              {{ cartButton }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
