<app-header [navigationButtoName]="navigationButtoName"></app-header>

<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of items">
        <div class="card mb-4">
          <img
            [src]="'https://via.placeholder.com/150'"
            class="card-img-top"
            alt="Item Image" />
          <div class="card-body">
            <h5 class="card-title" id="product_name">{{ item.product_name }}</h5>
            <p class="card-text" id="description">{{ item.product_description }}</p>
            <div class="row">
              <p class="card-text col-md-4" id="price">Price: ${{ item.price }}</p>
              <p class="card-text col-md-4"></p>
              <p class="card-text col-md-4">
                Discount: {{ item.discount_percentage }}%
              </p>
            </div>
            <div
              (click)="addProduct(item.product_id)"
              id="addToCart"
              class="btn btn-primary">
              {{ cardButton }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
